USE [esunbank]
GO
/****** Object:  Table [dbo].[t187ap05_L]    Script Date: 2024/9/12 下午 01:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t187ap05_L](
	[出表日期] [int] NOT NULL,
	[資料年月] [int] NOT NULL,
	[公司代號] [int] NOT NULL,
	[公司名稱] [nvarchar](50) NOT NULL,
	[產業別] [nvarchar](50) NOT NULL,
	[營業收入_當月營收] [decimal](28, 0) NOT NULL,
	[營業收入_上月營收] [decimal](28, 0) NOT NULL,
	[營業收入_去年當月營收] [decimal](28, 0) NOT NULL,
	[營業收入_上月比較增減] [decimal](28, 16) NULL,
	[營業收入_去年同月增減] [decimal](28, 16) NULL,
	[累計營業收入_當月累計營收] [decimal](28, 0) NOT NULL,
	[累計營業收入_去年累計營收] [decimal](28, 0) NOT NULL,
	[累計營業收入_前期比較增減] [decimal](28, 16) NULL,
	[備註] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_t187ap05_L] PRIMARY KEY CLUSTERED 
(
	[公司代號] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t187ap05_L] ([出表日期], [資料年月], [公司代號], [公司名稱], [產業別], [營業收入_當月營收], [營業收入_上月營收], [營業收入_去年當月營收], [營業收入_上月比較增減], [營業收入_去年同月增減], [累計營業收入_當月累計營收], [累計營業收入_去年累計營收], [累計營業收入_前期比較增減], [備註]) VALUES (1130912, 11308, 1101, N'台泥', N'水泥工業', CAST(13004435 AS Decimal(28, 0)), CAST(14429687 AS Decimal(28, 0)), CAST(9379408 AS Decimal(28, 0)), CAST(-9.8772204830222580 AS Decimal(28, 16)), CAST(38.6487825244407760 AS Decimal(28, 16)), CAST(92266097 AS Decimal(28, 0)), CAST(72206846 AS Decimal(28, 0)), CAST(27.7802619989799840 AS Decimal(28, 16)), N'-')
INSERT [dbo].[t187ap05_L] ([出表日期], [資料年月], [公司代號], [公司名稱], [產業別], [營業收入_當月營收], [營業收入_上月營收], [營業收入_去年當月營收], [營業收入_上月比較增減], [營業收入_去年同月增減], [累計營業收入_當月累計營收], [累計營業收入_去年累計營收], [累計營業收入_前期比較增減], [備註]) VALUES (1130912, 11308, 1102, N'亞泥', N'水泥工業', CAST(6734055 AS Decimal(28, 0)), CAST(6722518 AS Decimal(28, 0)), CAST(6469836 AS Decimal(28, 0)), CAST(0.1716172422297716 AS Decimal(28, 16)), CAST(4.0838593126626390 AS Decimal(28, 16)), CAST(48941178 AS Decimal(28, 0)), CAST(53547181 AS Decimal(28, 0)), CAST(-8.6017656092857620 AS Decimal(28, 16)), N'-')
INSERT [dbo].[t187ap05_L] ([出表日期], [資料年月], [公司代號], [公司名稱], [產業別], [營業收入_當月營收], [營業收入_上月營收], [營業收入_去年當月營收], [營業收入_上月比較增減], [營業收入_去年同月增減], [累計營業收入_當月累計營收], [累計營業收入_去年累計營收], [累計營業收入_前期比較增減], [備註]) VALUES (1130912, 11308, 1103, N'嘉泥', N'水泥工業', CAST(267388 AS Decimal(28, 0)), CAST(258383 AS Decimal(28, 0)), CAST(238917 AS Decimal(28, 0)), CAST(3.4851364060329044 AS Decimal(28, 16)), CAST(11.9166907336020460 AS Decimal(28, 16)), CAST(1963215 AS Decimal(28, 0)), CAST(1882252 AS Decimal(28, 0)), CAST(4.3013900370407360 AS Decimal(28, 16)), N'-')
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_t187ap05_L]    Script Date: 2024/9/12 下午 01:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GET_t187ap05_L]
	@公司代號 int,
	@公司名稱 nvarchar(max),
	@產業別 nvarchar(max)
AS
BEGIN
	SELECT
		出表日期,
		資料年月,
		公司代號,
		公司名稱,
		產業別,
		營業收入_當月營收,
		營業收入_上月營收,
		營業收入_去年當月營收,
		營業收入_上月比較增減,
		營業收入_去年同月增減,
		累計營業收入_當月累計營收,
		累計營業收入_去年累計營收,
		累計營業收入_前期比較增減,
		備註
	FROM t187ap05_L
	WHERE
		(公司代號 = @公司代號 OR @公司代號 IS NULL OR @公司代號 = '') and
		(公司名稱 like '%' + @公司名稱 + '%' OR @公司名稱 IS NULL OR @公司名稱 = '') and
		(產業別 like '%' + @產業別 + '%' OR @產業別 IS NULL OR @產業別 = '')
END
GO
/****** Object:  StoredProcedure [dbo].[SP_MOD_t187ap05_L]    Script Date: 2024/9/12 下午 01:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[SP_MOD_t187ap05_L]
    @Type VARCHAR(10),
	@出表日期 int,
	@資料年月 int,
	@公司代號 int,
	@公司名稱 nvarchar(50),
	@產業別 nvarchar(50),
	@營業收入_當月營收 numeric(28,0),
	@營業收入_上月營收 numeric(28,0),
	@營業收入_去年當月營收 numeric(28,0),
	@營業收入_上月比較增減 numeric(28,16),
	@營業收入_去年同月增減 numeric(28,16),
	@累計營業收入_當月累計營收 numeric(28,0),
	@累計營業收入_去年累計營收 numeric(28,0),
	@累計營業收入_前期比較增減 numeric(28,16),
	@備註 nvarchar(1000)
AS
BEGIN
	IF (@Type = 'Insert')
	BEGIN
		INSERT INTO t187ap05_L values (
		@出表日期,
		@資料年月,
		@公司代號,
		@公司名稱,
		@產業別,
		@營業收入_當月營收,
		@營業收入_上月營收,
		@營業收入_去年當月營收,
		@營業收入_上月比較增減,
		@營業收入_去年同月增減,
		@累計營業收入_當月累計營收,
		@累計營業收入_去年累計營收,
		@累計營業收入_前期比較增減,
		@備註)
	END
	IF (@Type = 'Update')
	BEGIN
	Update t187ap05_L Set
		出表日期 = @出表日期,
		資料年月 = @資料年月,
		公司名稱 = @公司名稱,
		產業別 = @產業別,
		營業收入_當月營收 = @營業收入_當月營收,
		營業收入_上月營收 = @營業收入_上月營收,
		營業收入_去年當月營收 = @營業收入_去年當月營收,
		營業收入_上月比較增減 = @營業收入_上月比較增減,
		營業收入_去年同月增減 = @營業收入_去年同月增減,
		累計營業收入_當月累計營收 = @累計營業收入_當月累計營收,
		累計營業收入_去年累計營收 = @累計營業收入_去年累計營收,
		累計營業收入_前期比較增減 = @累計營業收入_前期比較增減,
		備註 = @備註 
	WHERE 公司代號 = @公司代號
	END
END
GO
